body {
  font-family: 'Helvetica';
  text-align: center;
  background-image: url(https://legends.pokemon.com/_next/image?url=%2Fimages%2Fpages%2Fstory-world%2Fcharacters%2Fbg-your-character-xxl-2x.jpg&w=3840&q=75);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  margin: 0;
}

h1 {
  margin-top: 20px;
  font-size: 3rem;
}

.controls {
  margin: 20px;
}

select, input, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  font-size: 1rem;
}

button {
  background-color: #ff4757;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.hidden {
  display: none;
}

.grid-header, .guess-row {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.box {
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
}

.correct {
  background-color: #2ed573;
}

.partial {
  background-color: #ffa502;
}

.wrong {
  background-color: #ff4757;
}

#message {
  margin: 15px;
  font-size: 1.2rem;
}